body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header, footer {
    text-align: center;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    /* #485444 #5D5958 */
    color: #5D5958;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #FF8552;
}

body#about nav li:nth-child(1) a,
body#projects nav li:nth-child(2) a,
body#cv nav li:nth-child(3) a {
    font-weight: bold;
    border-bottom: 2px solid #FF8552;
}



.skip-link {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: block;
}

main {
    padding: 20px;
}

footer {
    font-size: smaller;
}

.prev-project,
.next-project {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFF;
    background-color: #5D5958;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 100px 0 100px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px;
}

.prev-project:hover,
.next-project:hover {
    background-color: #485444;
    color: #FF8552;
}


.logo-container {
    text-align: center;
}

.logo-container img {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
}


/* Projects */

.main-image {
    position: relative;
    text-align: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    cursor: pointer;
}

.main-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.arrow-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.arrow {
    font-size: 35px;
    cursor: pointer;
    user-select: none;
    color: #5D5958;
}

.arrow:before {
    content: '\2190';
}

.right-arrow:before {
    content: '\2192';
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
}

.thumbnail:hover, .thumbnail.active {
    border: 2px solid #FF8552;
}


/* CSS for the slideshow */
.project-details {
    max-width: 800px;
    margin: 0 auto;
}

.project-details h1 {
    text-align: center;
    color:#485444;
}

.project-details p {
    margin-bottom: 20px;
    font-size: small;
    font-style: italic;
    text-align: center;
}

.mySlides {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation arrows style */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #485444;
}

.slideshow-container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}


/* Media query for phone screens */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        display: block;
        margin: 3px;
        text-align: center;
    }

    .logo-container img {
        max-width: 100%;
        width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        padding: 10px;
    }
    .main-image {
        position: relative;
        text-align: center;
        padding: 10px;
        max-width: 400px;
        margin: 0 auto;
    }

    .main-image img {
        max-width: 400px;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .thumbnail {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 0 5px;
        cursor: pointer;
    }

}
